# List of hooks at https://pre-commit.com/hooks.html.

fail_fast: false
default_stages: [commit, push]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-xml
    -   id: detect-private-key
    -   id: name-tests-test
    -   id: check-added-large-files
-   repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black
      args: ["--line-length=100"]
-   repo: https://github.com/pycqa/isort
    rev: 5.11.2
    hooks:
      - id: isort
        args: ["--profile=black"]
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    - id: flake8
      args: ["--max-line-length=100"]  # , "--ignore=E101, E111, E114, E115, E116, E117, E121, E122, E123, E124, E125, E126, E127, E128, E129, E131, E133, E2, E3, E5, E701, E702, E703, E704, W1, W2, W3, W503, W504"]
-   repo: https://github.com/PyCQA/doc8
    rev: v1.0.0
    hooks:
    - id: doc8
# -   repo: https://github.com/terrencepreilly/darglint
#     rev: v1.8.1
#     hooks:
#     - id: darglint
#       args: ["docstring_style=google"]
- repo: https://github.com/myint/docformatter
  rev: v1.5.0
  hooks:
    - id: docformatter
      args: [--in-place]
# -   repo: https://github.com/kynan/nbstripout
#     rev: 0.3.9
#     hooks:
#     - id: nbstripout
-   repo: https://github.com/nbQA-dev/nbQA
    rev: 1.5.3
    hooks:
      - id: nbqa-black
        args: ["--line-length=100"]
      - id: nbqa-isort
        args: ["--profile=black"]
      - id: nbqa-flake8
        args: ["--max-line-length=100"]
        # "--ignore=E402=E101, E111, E114, E115, E116, E117, E121, E122, E123, E124, E125, E126, E127, E128, E129, E131, E133, E2, E3, E5, E701, E702, E703, E704, W1, W2, W3, W503, W504",
      # -   repo: https://github.com/Lucas-C/pre-commit-hooks
#     rev: v1.3.1
#     hooks:
#     -   id: insert-license
#         files: \.py$
#         args: [ "--license-filepath", "env_file/disclaimer.txt" ]
-   repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
    -   id: markdown-toc
        # optional custom config:
        args: [--indent, "    ", -i]
